  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pixelify+Sans&display=swap');


/* GENERAL */
*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  overflow: hidden;
}

/* container */
.container { 
    background-color:  ghostwhite;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    font-size: 3rem;
}
.container button {
  padding: 15px 20px;
  background-color:black;
  color: whitesmoke;
  font-family: "Josefin Sans";
  border-radius: 5rem;
  cursor: pointer;
}
.items-box {
  padding: 1rem 1.5rem;
  background-color: beige;
  font-family:"Josefin Sans";
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.13rem solid black;
}
.items-container {
  height: 100vh;
  width: 50vw;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  overflow-x: hidden;
}
.items-container::-webkit-scrollbar {
  display: none;
}
.items-container h2{
  margin-top: 1rem;
  color: whitesmoke;
  font-family: "Josefin Sans";
  font-size: 2rem ;
}.items-container p{
  font-family: "Josefin Sans";
  font-size: 1.3rem;
  color: whitesmoke;
}.items-container p,
.items-container h2,
.items-container button {
  margin-left: 1rem;
}

.button-container {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 1rem;
}
.button-container button {
  padding: 0.7rem 1rem;
  position: relative;
  background-color:whitesmoke;
  color: black;
  font-family: "Josefin Sans";
  border-radius: 5rem;
  cursor: pointer;
}

/* MOBILE VIEW  
.mobile-view {
  display: none;
}*/