@media screen and (max-width: 576px) {
    .container {
        height: 50vh;
        width: 100vw;
    }
    .items-container{
        position: absolute;
        height: 50vh;
        width: 100vw;
        top: initial;
        bottom: 0;
    }.items-container h2 {
        font-size: 1rem;
    }.items-container p {
        font-size: 0.8rem;
    }
}
